*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: black;
    background-color: #dfecf2 ;
}

.grid-container{
    display: grid;
    grid-template-columns:200px 1fr;
    grid-template-areas: "sidenav main";
    height: 100vh; 
  }
main{
     grid-area: main;
     display: grid;
     
     padding-left: 70px;
     padding-top: 20px;
     padding-right: 40px;
     position:relative;
     margin-bottom: 30px;
  
  }
.navbar{
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    padding-top: 2.5vw;
    justify-items: center;
    align-items: center;
    margin-left: 40px;
}
.logo{
    display: flex;
    
}
.logo h3{
    margin-left: 10px;
    margin-bottom: 15px;
}

.navelements{
    height: 500px;
    margin-top: 50px;
}
.navelements a{
    margin: 20px;
}
.icon{
    width: 20px;
    height: 20px;
}

button{
    width: 130px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color:#d0e1e9;
    color: black;
}

.logotext{
    color: black;
}

li{
    list-style: none;
    margin-top: 15px;
    background-color: #d0e1e9;

}
ul{
    margin: 10px 40px;
    background-color: #d0e1e9;
}

a{
    text-decoration: none;
    font-size: 1rem ;}

    .head, .bottom{
        display: flex;
        justify-content: space-between;
        background-color: #d0e1e9;
        margin: 25px 25px;
    }


    .arrange{
        display: flex;
        
    }
    .arrange p{
        padding-left: 7px;
    }
    .bas{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first{
        display: flex;
    }
.first #card9{
margin: 0px 20px;
}
.first #card3{
    margin: 0px 20px;
    }
    .second{
        display: flex;
    }
    .second #card10{
        margin: 0px 20px;
        }
        .second #card4{
            margin: 0px 2px;
            }

            .second #card5{
                margin: 0px 20px;
                }
                .second #card11{
                    margin: 0px 2px;
                    }
        
    .all{
        display: flex;
        margin-top: 10px;
    }
    .imageicon{
        width: 188px;
        height: 150px;
        border-radius: 15px;
    }
    .imageicon2{
        width: 188px;
        height: 150px;
        border-radius: 15px;
    }
    .card1{
        display: flex;
        justify-content: space-between;
        padding: 10px 25px;
        background-color: #d0e1e9;
    
    }
    
    .messages, .profile, .notifs{
        display: flex;
        background-color: #d0e1e9;
        margin-top: 8px;
    }
    
    .icon22{
        width: 25px ;
        height: 25px;
        border-radius: 15px;
    }
    .messages p, .messages img{
        background-color: #d0e1e9;
    
    }
    .profile p, .profile img{
        background-color: #d0e1e9;
    
    }
    .notifs p, .notifs img{
        background-color: #d0e1e9;
    
    }
    .messages img{
        margin-left: 15px;
    }
    
    .notifs img{
        margin-left: 15px;
    }
    
    .profile .icon22{
        margin-right: 7px;
    }
    .profile .line{
        height: 26px;
        width: 1px;
    background-color: #35353f43;
    margin-right: 15px;
    
    }
    
    .icon3{
        width: 15px ;
        height: 15px;
    }
    .profile .icon3{
    margin-top: 5px;
    
    }
    .profile p{
        margin-right: 5px;
    }

    .card1{
        height: 60px;
        border-radius: 15px;
    }

    .card1 h2{
        background-color: #d0e1e9;
    }

    .second{
        margin-top: 50px;
    }
#card5{
    margin-left: 10px;
    background-color: #d0e1e9;
    color: black;

}
   #card6{
    margin-top: 50px;
    margin-left: 30px;
   }

   .bubble{
    display: flex;
    flex-direction: column;
   }

#horizontal-bar-chart{
    margin-left: 20px;
    margin-top: 100px;
}

th, table, td{
    text-align: center;
    background-color: #d0e1e9;
    border-radius: 15px;
}

table{
    margin-top: 30px;
}


.wrapper3 h2{
margin-top: 30px;
}

#bar-chart-8, #bar-chart, #line-chart-9,#line-chart-3, #bar2-chart,#bar3-chart,#bubble-chart, #pie-chart-avg, #doughnut-chart, #horizontal-bar-chart{
    background-color: #d0e1e9;
    border-radius: 20px;
    color: black;
}